main {
    position: relative;
    display: flex;

    & section.content {
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
        overflow-y: scroll;
        z-index: 0;
    }
}

@media (max-width: 1200px) {
    main {
        display: block;

        & section.content {
            width: 100%;
        }
    }
}