.signin_btn {
    height: 40px;
    background: hsl(224, 94%, 21%);
    border: none;
    transition: all 250ms ease-out;
    font-size: 18px;
    line-height: 1;

    &:hover,
    &:active {
        background: hsl(224, 94%, 41%) !important;
    }
}

form.login_form {
    margin: 0 30px;

    & input[type='text'],
    & input[type='password'] {
        height: 45px !important;
        font-size: 14px;
    }

    & input[type='checkbox'] {
        height: 45px !important;
        font-size: 14px;
    }

    & a {
        display: block;
        text-align: right;
        width: 100%;
        font-size: 14px;
        color: hsl(224, 94%, 21%);
        text-decoration: none;
        font-weight: bold;
    }
}