div.login_container {
    width: 100%;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

    div.title {
        margin-bottom: 40px;
        display: grid;
        align-items: center;
        border-bottom: 1px solid hsl(0, 0%, 93%);
        height: 100px;

        &>p {
            margin: 0 30px;
            font-weight: bold;

            & svg {
                margin-bottom: 5px;
            }
        }
    }
}