button.btn_add {
    height: 40px;
    background: hsl(224, 94%, 21%);
    border: none;
    transition: all 250ms ease-out;
    font-size: 18px;
    line-height: 1;

    & svg {
        margin-bottom: 5px;
    }

    &:hover {
        background: hsl(224, 94%, 41%);
    }
}