header.header {
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 6%);

    & nav div {
        display: grid;
        place-items: center;
        height: 60px;
        width: 60px;
        color: hsl(224, 94%, 21%);
        font-size: 25px;
        border-right: 1px solid hsl(0, 0%, 93%);

        & svg {
            cursor: pointer;

            &:hover {
                color: hsl(224, 94%, 41%);
            }
        }
    }

    & img {
        margin-left: 20px;
    }
}