aside {
    &.aside_navigation {
        position: absolute;
        left: -300px;
        width: 0;
        height: calc(100vh - 60px);
        box-shadow: 4px 0 4px hsla(0, 0%, 0%, 0.06);
        background-color: hsl(0, 0%, 100%);
        transition: all 150ms linear;
        z-index: 1;
        overflow-y: scroll;

        & h2 {
            margin: 0 20px;
            padding: 20px 0;
            font-size: 24px;
            border-bottom: 1px solid hsl(0, 0%, 93%);
        }

        & ul {
            width: 100%;
            padding: 0;
            list-style-type: none;
            display: inline-block;

            & li {
                display: grid;
                align-items: center;

                & a {
                    padding: 15px 20px;
                    text-decoration: none;
                    color: #505050;
                    font-size: 18px;
                    font-weight: 500;

                    & svg {
                        margin-bottom: 5px;
                    }
                }

                &.active {
                    background-color: hsl(224, 94%, 21%) !important;

                    & a {
                        color: white;
                    }
                }

                &:hover {
                    background-color: rgba(233, 233, 233, 0.5);
                }
            }
        }
    }

    &.active {
        width: 300px;
        left: 0;
    }
}

@media (max-width: 1200px) {
    aside {
        &.active {
            display: block;
            position: absolute;
            left: 0;
            transition: all 150ms linear;
        }
    }
}