div {
    & div.title {
        margin-bottom: 40px;
        height: 100px;
        border-bottom: 1px solid hsl(0, 0%, 93%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & h1 {
            font-size: clamp(1.125rem, 0.674vw + 0.961rem, 1.5rem);
            font-weight: bold;
            margin: 0;

            & svg {
                margin-bottom: 5px;
            }
        }
    }

    & div.container {
        & button.btn_post {
            height: 40px;
            background: hsl(224, 94%, 21%);
            border: none;
            transition: all 250ms ease-out;
            font-size: 18px;
            line-height: 1;

            & svg {
                margin-bottom: 5px;
            }

            &:hover,
            &:active {
                background: hsl(224, 94%, 41%) !important;
            }
        }
    }
}